@model IEnumerable<DayOfficev2.Models.tblAmenidadEspacio>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tblAmenidades.TipoAmenidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblEspacio.NombreEspacio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblAmenidades.TipoAmenidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblEspacio.NombreEspacio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAmenidadEspcio }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAmenidadEspcio }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAmenidadEspcio })
        </td>
    </tr>
}

</table>
