@model IEnumerable<DayOfficev2.Models.tblEspacio>

@{
    ViewBag.Title = "Index";
}

<h2>Espacios de Trabajo</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Latitud
        </th>
        <th>
            Longitud
        </th>
        <th>
            Costo
        </th>
        <th>
            Usuario
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEspacio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatitudEspacio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongitudEspacio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblUsuario.NombreUsuario)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdEspacio }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.IdEspacio }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdEspacio }) |
                @Html.ActionLink("Amenidades", "IndexAmenidad", new { id = item.IdEspacio })
            </td>
        </tr>
    }

</table>

