<!DOCTYPE html>
@using DayOfficev2.Models;
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Day Office", "Index", "Usuarios", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        dbDayOfficeEntities db = new dbDayOfficeEntities();

                        var user = db.tblUsuario.FirstOrDefault(u => u.CorreoElectronico == User.Identity.Name);

                        if (user.Rol == 1)
                        {
                            <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                            <li>@Html.ActionLink("Espacios", "Index", "Espacios")</li>
                            <li>@Html.ActionLink("Amenidades", "Index", "Amenidades")</li>
                            <li>@Html.ActionLink("Amenidades en el Espacio", "Index", "AmenidadEspacios")</li>
                            <li>@Html.ActionLink("Reservas", "Index", "Reservas")</li>
                            <li>@Html.ActionLink("Cerrar Sesion", "Logout", "Home")</li>
                        }
                        else if (user.Rol == 2)
                        {
                            <li>@Html.ActionLink("Espacios", "Index", "Espacios")</li>
                            <li>@Html.ActionLink("Amenidades", "Index", "Amenidades")</li>
                            <li>@Html.ActionLink("Amenidades en el Espacio", "Index", "AmenidadEspacios")</li>
                            <li>@Html.ActionLink("Reservas", "Index", "Reservas")</li>
                            <li>@Html.ActionLink("Cerrar Sesion", "Logout", "Home")</li>
                        }
                        else if (user.Rol == 3)
                        {
                            <li>@Html.ActionLink("Espacios", "Index", "Espacios")</li>
                            <li>@Html.ActionLink("Reservas", "Index", "Reservas")</li>
                            <li>@Html.ActionLink("Comparar", "CompararView2", "Espacios")</li>
                            <li>@Html.ActionLink("Cerrar Sesion", "Logout", "Home")</li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink("Crear Cuenta", "Create", "Usuarios")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Day Office</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
