@model DayOfficev2.Models.tblUsuario

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Usuario</h2>

<h3>Deseas eliminar a este ususari?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>

        <dt>
            Correo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

        <dt>
            Contraseña:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrasena)
        </dd>

        <dt>
            Longitud:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongitudUsuario)
        </dd>

        <dt>
            Latitud:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatitudUsuario)
        </dd>

        <dt>
            Rol:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
